@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Uchen&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: "Uchen", serif;
}

.navigation-bar ul, .footer-list-item ul, .icons__ul--li ul, .footer__section--page {
  list-style-type: none;
}

.navigation-bar button, .hero-section button, .section-one .--card-one button {
  cursor: pointer;
  padding: 0.8em 2em;
}

.navigation-bar-left .navbar-left-logo, .logo img {
  width: 50%;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 2px 2px 2px 2px #FFDF2B;
}

.section-two-left {
  width: 50%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("https://images.pexels.com/photos/5029646/pexels-photo-5029646.jpeg?cs=srgb&dl=pexels-rajesh-s-balouria-5029646.jpg&fm=jpg") no-repeat center center/cover;
  padding: 2em 2em;
}
.section-two-left li {
  padding: 0.6em 0.1em;
  color: white;
  font-weight: 700;
  font-size: 1.7rem;
  cursor: pointer;
}
.section-two-left h1 {
  color: yellow;
  font-weight: 700;
  text-align: center;
}

.section-two {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2em;
  background-color: green;
}

.section-two-right {
  width: 50%;
  background: url("images/farmers-image.jpeg") no-repeat center center/contain cover;
}

.section-one {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #158A43;
  padding: 3em 0em;
}
.section-one .--card-one {
  text-align: center;
  background-color: #FFDF2B;
  box-shadow: 2px 2px 2px black;
  border-radius: 10px;
  padding: 2em;
}
.section-one .--card-one img {
  width: 50%;
  height: 50%;
}
.section-one .--card-one h3 {
  font-size: 1.8rem;
}
.section-one .--card-one p {
  font: 1.6rem;
  color: #158A43;
  font-weight: bolder;
}
.section-one .--card-one button {
  width: 90%;
  border-radius: 10px;
  background-color: #158A43;
  color: white;
  margin: 2.8em 0em;
  padding: 1em 0.5em;
}
.section-one .--card-one button:hover {
  background-color: #FFDF2B;
  color: #158A43;
}

.hero-section {
  height: 80vh;
  padding: 4em;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("../../images/hero-bg2.jpg") no-repeat center center/cover;
}
.hero-section p {
  color: white;
  font-size: 1.5rem;
}
.hero-section h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  color: white;
}
.hero-section button {
  margin-top: 10%;
  background-color: #158A43;
  color: #FFDF2B;
  font-size: 1.5rem;
  border-radius: 10px;
}
.hero-section button:hover {
  background-color: #FFDF2B;
  color: #006400;
}

.icons__ul--li ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2em;
  cursor: pointer;
}
.icons__ul--li ul :hover {
  color: #FFDF2B;
}

.footer__section--page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #158A43;

  color: yellow;
  font-weight: 700;
}
.footer__section--page ul {
  cursor: pointer;
}
.footer__section--page ul :hover {
  color: white;
}
.footer__section--page ul :hover li {
  padding: 3em 0;
}

.navigation-bar {
  color: #FFDF2B;
  background-color: #158A43;
}
.navigation-bar .navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 800;
}
.navigation-bar button {
  border-radius: 20px;
  border: none;
  background-color: #FFDF2B;
}
.navigation-bar button:hover {
  background-color: rgb(255, 255, 1);
}

a {
  color: #FFDF2B;
  text-decoration: none;
}
a:hover {
  color: white;
}

.navigation-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1em;
}
.navigation-bar ul li:hover {
  color: white;
}

@media screen and (max-width: 415px) {
  .navigation-bar ul li {
    display: none;
  }
}
.myheading {
  color: red;
}

.about-company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.about-company .about--illustration {
  border-radius: 30%;
  width: 50%;
  border: 2px solid black;
}/*# sourceMappingURL=styles.css.map */