@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Uchen&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: "Uchen", serif;
}

.navigation-bar ul, .footer-list-item ul, .icons__ul--li ul, .footer__section--page {
  list-style-type: none;
}

.navigation-bar button, .hero-section button, .section-one .--card-one button, form button, .form button {
  cursor: pointer;
  padding: 0.8em 2em;
}

.navigation-bar-left .navbar-left-logo, .logo img {
  width: 50%;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 2px 2px 2px 2px #FFDF2B;
}

label {
  display: block;
  width: 20%;
}

.input__box--label {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
  font-weight: bold;
}

.input__box--label input {
  width: 70%;
  padding: 1em 0;
  border-radius: 4px;
  border: none;
}

.form {
  width: 50%;
}
.form form {
  background-color: #158A43;
  color: #FFDF2B;
  width: 90%;
  padding: 2em;
  border-radius: 6px;
}
.form button {
  width: 20%;
  border: none;
  border-radius: 10px;
  background-color: #FFDF2B;
  font-weight: bolder;
  color: #158A43;
  margin: 2.8em 19em;
  padding: 1em 0.5em;
}
.form button:hover {
  background-color: white;
  color: #158A43;
}

.image {
  width: 50%;
}

.form__image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.sections__selling--form {
  padding: 5em 0;
  background-color: #FFDF2B;
}

.input__box--label {
  display: flex;
  width: 80%;
  cursor: pointer;
}
.input__box--label:hover {
  color: #FFDF2B;
}

.section__signup--form {
  background: white;
  padding: 3em 0;
}

form {
  background-color: #158A43;
  width: 50%;
  color: #FFDF2B;
  margin: 0 auto;
  padding: 1em 4em;
  border-radius: 4px;
  border: none;
}
form h2 {
  color: #000;
  text-align: center;
}
form label {
  padding: 1em 0;
}
form button {
  width: 20%;
  border: none;
  border-radius: 10px;
  background-color: #FFDF2B;
  font-weight: bolder;
  color: #158A43;
  margin: 2.8em 19em;
  padding: 1em 0.5em;
}
form button:hover {
  background-color: white;
  color: #158A43;
}

.section-two-left {
  width: 50%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.pexels.com/photos/5029646/pexels-photo-5029646.jpeg?cs=srgb&dl=pexels-rajesh-s-balouria-5029646.jpg&fm=jpg") no-repeat center center/cover;
  padding: 2em 2em;
  margin: 2em 0;
}
.section-two-left li {
  margin-left: 1.5em;
  padding: 0.6em 1em;
  color: white;
  font-weight: 700;
  font-size: 1.7rem;
  cursor: pointer;
}
.section-two-left h1 {
  color: yellow;
  font-weight: 700;
  text-align: center;
}

.section-two {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2em;
}

.section-two-right {
  width: 50%;
  background: url("images/farmers-image.jpeg") no-repeat center center/contain cover;
}

.section__two--left--right {
  background-color: #FFDF2B;
}

.section-one {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #158A43;
  padding: 3em 0em;
}
.section-one .--card-one {
  text-align: center;
  background-color: #FFDF2B;
  box-shadow: 2px 2px 2px black;
  border-radius: 10px;
  padding: 2em;
}
.section-one .--card-one img {
  width: 50%;
  height: 50%;
}
.section-one .--card-one h3 {
  font-size: 1.8rem;
}
.section-one .--card-one p {
  font: 1.6rem;
  color: #158A43;
  font-weight: bolder;
}
.section-one .--card-one button {
  width: 90%;
  border-radius: 10px;
  background-color: #158A43;
  color: white;
  margin: 2.8em 0em;
  padding: 1em 0.5em;
}
.section-one .--card-one button:hover {
  background-color: #FFDF2B;
  color: #158A43;
}

.hero-section {
  height: 80vh;
  padding: 4em;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("../../images/hero-bg2.jpg") no-repeat center center/cover;
}
.hero-section p {
  color: white;
  font-size: 1.5rem;
}
.hero-section h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  color: white;
}
.hero-section button {
  margin: 4em 0;
  background-color: #158A43;
  color: #FFDF2B;
  font-size: 1.5rem;
  border-radius: 10px;
}
.hero-section button:hover {
  background-color: #FFDF2B;
  color: #006400;
}

.icons__ul--li ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2em;
  cursor: pointer;
}
.icons__ul--li ul :hover {
  color: #FFDF2B;
}

.footer__section--page {
  padding: 2em 0em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #158A43;
  color: yellow;
  font-weight: 700;
  font-size: 1.5rem;
}
.footer__section--page ul {
  cursor: pointer;
}
.footer__section--page ul :hover {
  color: white;
}
.footer__section--page ul :hover li {
  padding: 3em 0;
}

.navigation-bar {
  color: #FFDF2B;
  background-color: #158A43;
}
.navigation-bar .navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 800;
}
.navigation-bar button {
  border-radius: 20px;
  border: none;
  background-color: #FFDF2B;
}
.navigation-bar button:hover {
  background-color: rgb(255, 255, 1);
}

a {
  color: #FFDF2B;
  text-decoration: none;
}
a:hover {
  color: white;
}

.navigation-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1em;
}
.navigation-bar ul li:hover {
  color: white;
}

@media screen and (max-width: 415px) {
  .navigation-bar ul li {
    display: none;
  }
}
.about-main--part {
  background-color: gold;
}

.about-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 2em 0em;
}
.about-description .about-description__yellow {
  flex: 1;
  height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("../../images/about-hero-background.jpg") no-repeat center center/cover;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  color: white;
}
.about-description .about-description__green {
  flex: 1;
  height: 60vh;
  background-color: #158A43;
  color: white;
  font-size: 1.3rem;
  text-align: center;
  padding: 1em;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.about-company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1em;
  padding: 2em 0em;
}
.about-company .about--illustration__large {
  width: 15%;
  border-radius: 100%;
}
.about-company .about--illustration {
  border-radius: 100%;
  width: 20%;
}
.about-company .company-slogan {
  flex: 1;
  background-color: #158A43;
  padding: 3em;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #158A43;
}
.about-company .company-slogan div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.about-company .company-slogan div h3 {
  font-size: 1.5rem;
  color: #FFDF2B;
  font-weight: bold;
}
.about-company .company-slogan p {
  display: none;
}
.about-company .company-slogan:hover div {
  display: none;
}
.about-company .company-slogan:hover p {
  text-align: center;
  display: block;
  padding: 1em;
  color: white;
  font-size: 1.5rem;
}/*# sourceMappingURL=styles.css.map */