@use "../overalstyles/variables" as *;

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: 0 auto;
}
body{
    font-family: $bodyfont;
    
}
// main{
//     background-color: $green;
// }