@use "../overalstyles/variables" as *;
@use "../overalstyles/mixins";
@use "../overalstyles/inheritance";

.section-two-left {
    width: 45%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("https://images.pexels.com/photos/5029646/pexels-photo-5029646.jpeg?cs=srgb&dl=pexels-rajesh-s-balouria-5029646.jpg&fm=jpg") no-repeat center center/cover;
    padding: 2em 2em;
    margin: 2em 0;

  p {
        
        padding: 1.3em 1em;
        color: $white;
        font-weight: 700;
        font-size: 1.7rem;
        cursor: pointer;
        
    }
    .image--p{
    @include mixins.flex-box( row, nowrap);
    gap: 2em; 
    }

    h1 {
        color: $yellow;
        font-weight: 700;
        text-align: center;
    }
}

.section-two {
    @include mixins.flex-box(center, center, row, wrap);
    gap: 2em;
}

.section-two-right {
    width: 45%;
    background: url("images/farmers-image.jpeg") no-repeat center center/contain cover;
}

.section__two--left--right {
    background-color: $yellow;
}



@media screen and (max-width:500px) {
    .section-two-left {
        width: 100%;
    }

    .section-two-right {
        display: none;
    }
}