@use "../overalstyles/inheritance";
@use "../overalstyles/mixins";
@use "../overalstyles/variables" as *;


nav {
  position: sticky;
  top: 0;
  left: 0;
}

.navigation-bar {
  color: $yellow;
  background-color: $green;

  width: 100%;
  padding: .4em 0em;

  .navbar-flex {
    @include mixins.flex-box(space-between, center, row, nowrap);
    font-weight: bolder;

  }

  button {
    @extend %button;
    border-radius: 20px;
    border: none;
    background-color: $yellow;

    &:hover {
      background-color: rgb(255, 255, 0.7);
    }
  }

  a {
    color: $yellow;
    text-decoration: none;

    &:hover {
      color: $white;
    }
  }

  .humberger-icon {
    display: none;
    cursor: pointer;

    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: $yellow;
    }
  }
}

.navigation-bar ul {
  @extend %listitems;
  @include mixins.flex-box(space-between, center, row, nowrap);
  gap: 1em;

}

.navigation-bar-left {
  .navbar-left-logo {
    @extend %company-logo;
  }

}

.navigation-bar-right {
  ul {
    gap: 2em;
  }
}

@media screen and (max-width: 600px) {
  .navigation-bar {

    .humberger-icon {
      display: block;

      .humberger-icon.active {
        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(1) {
          transform: translateY(8px) rotate(45deg);

        }

        &:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }
  }

  .navigation-bar-right {
    display: none;
    position: fixed;
    // left: -100%;
    top: 70px;
    gap: 0;
    // // background-color: green;
    width: 100%;
    text-align: center;
    transition: 0.3s;

    .active {
      left: 0;
    }

    ul {
      display: flex;
      flex-direction: column;

      li {
        margin: 1em 0;
      }
    }

  }

}