@use "../overalstyles/inheritance";
@use "../overalstyles/mixins";
@use "../overalstyles/variables" as *;

.navigation-bar {
  color: $yellow;
  background-color: $green;
  position: fixed;
  width: 100%;
  .navbar-flex {
    @include mixins.flex-box(space-between, center, row, nowrap);
    font-weight: bolder;
  }
  button {
    @extend %button;
    border-radius: 20px;
    border: none;
    background-color: $yellow;
    &:hover {
      background-color: rgb(255, 255, 0.7);
    }
  }
  a {
    color: $yellow;
    text-decoration: none;
    &:hover {
      color: $white;
    }
  }
}

.navigation-bar ul {
  @extend %listitems;
  @include mixins.flex-box(space-between, center, row, nowrap);
  gap: 1em;
  
}
.navigation-bar-left {
  .navbar-left-logo {
    @extend %company-logo;
  }
  
}
.navigation-bar-right{
  ul {
    li{
      &:last-child{
        display: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {

  .navigation-flex{
    ul:hover{
      display: block;
    }
  }
  .navigation-bar-left {
    ul {
      li{
        &:not(:first-child){
          display: none;
        }
      }
    }
  }
  .navigation-bar-right {
    ul {
      li{
        display: none;
        &:last-child{
          display: block;
        }
      }
    }
  }
}
