<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About our company</title>
</head>
<body>
    <div>
        <h2>About our company</h2>
        <p><span>Maize Millers Ke</span> is a company that aims at connecting farmers to retailers and wholesalers.We buy maize from farmers all over kenya  and process the maize to produce different products.We sell Products to different companies and customers.We work at our best to be able to promote agriculture and productivity in line with the Governments agenda
        </p>
        <p>At our company we believe that a healthy land is a healthy nation.A happy farmer is a happy citizen.</p>
    </div>
    <div>
        <div class="company-slogan">
            <img src="images/maize-farmer.jpg" alt="image of a maize farmer">
            <h3>Slogan</h3>
            <p>A happy farmer is a happy and healthy nation!</p>
        </div>
        <div class="company-mission">
            <img src="images/mission-icon-green-removebg-preview.png" alt="">
            <h3>Mission</h3>
            <p>Our Mission is to be able to support and promote agriculture by buying products directly from farmers at good prices</p>
        </div>
        <div class="company-motto">
            <img src="images/Motto_Logo-removebg-preview.png" alt="">
            <h3>Motto</h3>
            <p>We aim at providing best quality products from maize and ensuring consumer satisfaction</p>
        </div>
    </div>
</body>
</html>