<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>About our company</title>
</head>

<body>
    <nav>
        <section class="navigation-bar">
    
          <div class="container">
              <div class="navbar-flex">
                  <div class="navigation-bar-left">
                      <ul>
                          <li><img src="../images/logo1.png" alt="maize logo" class="navbar-left-logo" /></li>
                          <li><a href="../index.html"> HOME</a></li>
                          <li><a href="./shop.html" target="_blank">SHOP</a></li>
                          <li><a href="./delivery.html" target="_blank">DELIVERY</a></li>
                      </ul>
                  </div>
                  <div class="navigation-bar-right">
                      <ul>
                          <li><a href="./aboutus.html" target="_blank">ABOUT</a></li>
    
    
                         <li><a href="Contact us.html" target="_blank"> <li>CONTACT US </a> </li>
    
    
                          <li><button>LOGIN</button></li>
                          <li><i class="fa-solid fa-bars"></i></li>
                      </ul>
                  </div>
              </div>
          </div>
      </section>
      </nav>
    <main>
        <div class="about-main--part">
            <div class="container">
                <div class="about-description">
                    <div class="about-description__yellow">
                        <h2>About our company</h2>
                    </div>
                    <div class="about-description__green">
                        <p><span>Maize Millers Ke</span> is a company that aims at connecting farmers to retailers and
                            wholesalers.We
                            buy maize from farmers all over kenya and process the maize to produce different products.We
                            sell
                            Products
                            to different companies and customers.We work at our best to be able to promote agriculture
                            and
                            productivity
                            in line with the Governments agenda.
                        </p>
                    </div>
                </div>
                <div class="about-company">
                    <div class="company-slogan">
                        <div>
                            <img src="../images/maize-farmer.jpg" alt="image of a maize farmer"
                                class="about--illustration">
                            <h3>Slogan</h3>
                        </div>
                        <p>A happy farmer is a happy and healthy nation!</p>
                    </div>
                    <div class="company-slogan">
                        <div>
                            <img src="../images/mission-icon-green-removebg-preview (1).png" alt=""
                                class="about--illustration__large">
                            <h3>Mission</h3>
                        </div>
                        <p>Our Mission is to be able to support and promote agriculture by buying products directly from
                            farmers
                            at
                            good prices</p>
                    </div>
                    <div class="company-slogan">
                        <div>
                            <img src="../images/Motto_Logo-removebg-preview.png" alt="" class="about--illustration">
                            <h3>Motto</h3>
                        </div>
                        <p>We aim at providing best quality products from maize and ensuring consumer satisfaction</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
    
            <div class="footer__section--page">
                <div>
                    <img src="../images/logo1.png" alt="logo1" class="navbar-left-logo" />
                </div>
                <div class="footer-list-item">
                    <ul>
                        <li><a href="../index.html"> HOME</a></li>
    
                        <li><a href="./aboutus.html" target="_blank">ABOUT</a></li>
                        <li><a href="./shop.html" target="_blank">SHOP</a></li>
                        <li><a href="./delivery.html" target="_blank">DELIVERY</a></li>
    
                    </ul>
                </div>
                <div class="footer-list-item">
                    <ul>
                        <li><a href="./signup.html" target="_blank">SIGN UP</a></li>
                        <li>Log In</li>
                        <li>Log out</li>
                        <li> <a href="Contact us.html" target="_blank">CONTACT US </a> </li>
                    </ul>
                </div>
                <div class="footer-list-item">
                    <ul>
                        <li> <a href="https://www.facebook.com" target="_blank">
                                <i class="fa-brands fa-facebook fa-2x"></i>
                            </a> </li>
                        <li> <a href="http://www.instagram.com" target="_blank">
                                <i class="fa-brands fa-instagram fa-2x"></i>
                            </a> </li>
    
                        <li> <a href="http://www.youtube.com" target="_blank">
                                <i class="fa-brands fa-youtube fa-2x"></i>
                            </a> </li>
                        <li> <a href="http://www.twitter.com" target="_blank">
                                <i class="fa-brands fa-twitter fa-2x"></i>
                            </a> </li>
                    </ul>
                </div>
    
            </div>
    
        </div>
        </div>
    </footer>
</body>

</html>