<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/styles.css">
    <title>Contact Us</title>
</head>

<body>
    <nav>
        <section class="navigation-bar">
    
          <div class="container">
              <div class="navbar-flex">
                  <div class="navigation-bar-left">
                      <ul>
                          <li><img src="../images/logo1.png" alt="maize logo" class="navbar-left-logo" /></li>
                          <li><a href="../index.html"> HOME</a></li>
                          <li><a href="./shop.html" target="_blank">SHOP</a></li>
                          <li><a href="./delivery.html" target="_blank">DELIVERY</a></li>
                      </ul>
                  </div>
                  <div class="navigation-bar-right">
                      <ul>
                          <li><a href="./aboutus.html" target="_blank">ABOUT</a></li>
    
    
                         <li><a href="Contact us.html" target="_blank"> <li>CONTACT US </a> </li>
    
    
                          <li><button>LOGIN</button></li>
                          <li><i class="fa-solid fa-bars"></i></li>
                      </ul>
                  </div>
              </div>
          </div>
      </section>
      </nav>
    <main>
        <div class="contact-main-section">
            <div class="container">
                <div class="contact-main-section--address">
                    <div class="contact--physical-address">
                        <h2>Physical Address</h2>
                        <i class="fa-solid fa-location-dot"></i>
                        <p>We are located at Nairobi CBD, Moi-Avenue along University way.</p>
                        <p>Building: Millers Plaza <br>Office: 18th Floor Room H57</p>
                    </div>
                    <div class="contact--reach-us">
                        <h2>Reach Us</h2>
                        <p>Phone:+2547895642 <br>Email:info@Millers.co.ke <br>Postal Address:P.O Box 5634-00100,laini
                            saba-mashimoni.</p>
                    </div>
                </div>
                <div class="contact-main-section-form">
                    <form action="">
                        <h2>Send a message</h2>
                        <label>Name:</label><input type="text"><br/>
                        <label>Email:</label><input type="text"><br/>
                        <div>
                        <label>Type a message</label><br><textarea name="" id="" cols="30" rows="10"></textarea></div><br>
                        <button class="contact-submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
    
            <div class="footer__section--page">
                <div>
                    <img src="../images/logo1.png" alt="logo1" class="navbar-left-logo" />
                </div>
                <div class="footer-list-item">
                    <ul>
                        <li><a href="../index.html"> HOME</a></li>
    
                        <li><a href="./aboutus.html" target="_blank">ABOUT</a></li>
                        <li><a href="./shop.html" target="_blank">SHOP</a></li>
                        <li><a href="./templates/delivery.html" target="_blank">DELIVERY</a></li>
    
                    </ul>
                </div>
                <div class="footer-list-item">
                    <ul>
                        <li><a href="./signup.html" target="_blank">SIGN UP</a></li>
                        <li>Log In</li>
                        <li>Log out</li>
                        <li> <a href="Contact us.html" target="_blank">CONTACT US </a> </li>
                    </ul>
                </div>
                <div class="footer-list-item">
                    <ul>
                        <li> <a href="https://www.facebook.com" target="_blank">
                                <i class="fa-brands fa-facebook fa-2x"></i>
                            </a> </li>
                        <li> <a href="http://www.instagram.com" target="_blank">
                                <i class="fa-brands fa-instagram fa-2x"></i>
                            </a> </li>
    
                        <li> <a href="http://www.youtube.com" target="_blank">
                                <i class="fa-brands fa-youtube fa-2x"></i>
                            </a> </li>
                        <li> <a href="http://www.twitter.com" target="_blank">
                                <i class="fa-brands fa-twitter fa-2x"></i>
                            </a> </li>
                    </ul>
                </div>
    
            </div>
    
        </div>
        </div>
    </footer>
</body>

</html>