<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>selling.</title>
  </head>
  <body>
    <h1>SELLING FORM</h1>
    <form>
      <div class="input__box--label">
      <label>First Name:</label>
      <input type="text" />
      <br />

      <label>second Name:</label>
      <input type="text" />
      <br />

      <label>Quantity:</label>
      <input type="text" />
      <br />
      


      <label>payment:</label>
      <select>
        <option>M-PESA</option>
        <option>BANK</option>
        <option>PAYPAL</option>
      </select>
      <br />

      <label>Delivery:</label>
      <select>
        <option>Pick up</option>
        <option>Treiler</option>
      </select>
      <br></div>
  
<div class="submit">
      <button>submit</button>
    </div>
    </form>
  </body>
</html>
