<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Our Shop</title>
</head>

<body>
  <nav>
    <section class="navigation-bar">

      <div class="container">
          <div class="navbar-flex">
              <div class="navigation-bar-left">
                  <ul>
                      <li><img src="../images/logo1.png" alt="maize logo" class="navbar-left-logo" /></li>
                      <li><a href="../index.html"> HOME</a></li>
                      <li><a href="./shop.html" target="_self">SHOP</a></li>
                      <li><a href="./delivery.html" target="_blank">DELIVERY</a></li>
                  </ul>
              </div>
              <div class="navigation-bar-right">
                  <ul>
                      <li><a href="./aboutus.html" target="_blank">ABOUT</a></li>


                     <li><a href="Contact us.html" target="_blank"> <li>CONTACT US </a> </li>


                      <li><button>LOGIN</button></li>
                      <li><i class="fa-solid fa-bars"></i></li>
                  </ul>
              </div>
          </div>
      </div>
  </section>
  </nav>
  <main>
    <section class="shop-main__yellow">
      <div class="sub-nav">
        <h2> WE SELL A WIDE VARIETY OF GOODS !</h2><i class="fa-solid fa-cart-shopping" width="10%"></i>
      </div>
      </div>
      <div class="container">
        <div class="shop-container">

          <div class="shop-menu">
            <div>
              Flour Product
            </div>
            <div>
              Poultry Feed
            </div>
            <div>
              Livestock Feed
            </div>
            <div>
              <p>Oil Product</p>
            </div>
            <div>
              Other Products
            </div>
          </div>

          <div class="shop-container-items">
            <div class="shop-advert">
              <h3>cow-feed</h3>
              <img src="../images/high-speed-corn-grindes.png" alt="cowfeed">
              <p>Ksh 2500 per sack</p>
              <button>BUY NOW</button>
            </div>

            <div class="shop-advert">
              <h3>chicken feed</h3>
              <img src="../images/high-speed-corn-grindes.png" alt="chicken">
              <p>Ksh 2500 per sack</p>
              <button>BUY NOW</button>
            </div>

            <div class="shop-advert">
              <h3>chicken sale</h3>
              <img src="../images/high-speed-corn-grindes.png" alt="chicken">
              <p>Ksh 700 per hen</p>
              <button>BUY NOW</button>
            </div>

            <div class="shop-advert">
              <h3>Poshomill</h3>
              <img src="../images/high-speed-corn-grindes.png" alt="corn-grind">
              <p>Ksh 200,000</p>
              <button>BUY NOW</button>
            </div>

            <div class="shop-advert">
              <h3>Grinding-Machine</h3>
              <img src="../images/high-speed-corn-grindes.png" alt="high-speed">
              <p>Ksh 250,000</p>
              <button>BUY NOW</button>
            </div>
            <div class="shop-advert">
              <h3>Grinding-Machine</h3>
              <img src="../images/high-speed-corn-grindes.png" alt="high-speed">
              <p>Ksh 250,000</p>
              <button>BUY NOW</button>
            </div>
            <div class="shop-advert">
              <h3>Grinding-Machine</h3>
              <img src="../images/high-speed-corn-grindes.png" alt="high-speed">
              <p>Ksh 250,000</p>
              <button>BUY NOW</button>
            </div>
            <div class="shop-advert">
              <h3>Grinding-Machine</h3>
              <img src="../images/high-speed-corn-grindes.png" alt="high-speed">
              <p>Ksh 250,000</p>
              <button>BUY NOW</button>
            </div>
            <div class="shop-advert">
              <h3>Grinding-Machine</h3>
              <img src="../images/high-speed-corn-grindes.png" alt="high-speed">
              <p>Ksh 250,000</p>
              <button>BUY NOW</button>
            </div>
            <div class="shop-advert">
              <h3>Grinding-Machine</h3>
              <img src="../images/high-speed-corn-grindes.png" alt="high-speed">
              <p>Ksh 250,000</p>
              <button>BUY NOW</button>
            </div>
            <div class="shop-advert">
              <h3>Grinding-Machine</h3>
              <img src="../images/high-speed-corn-grindes.png" alt="high-speed">
              <p>Ksh 250,000</p>
              <button>BUY NOW</button>
            </div>
            <div class="shop-advert">
              <h3>Grinding-Machine</h3>
              <img src="../images/high-speed-corn-grindes.png" alt="high-speed">
              <p>Ksh 250,000</p>
              <button>BUY NOW</button>
            </div>

          </div>
        </div>
      </div>

      </div>

    </section>
  </main>

  <footer>
    <div class="container">

        <div class="footer__section--page">
            <div>
                <img src="../images/logo1.png" alt="logo1" class="navbar-left-logo" />
            </div>
            <div class="footer-list-item">
                <ul>
                    <li><a href="../index.html"> HOME</a></li>

                    <li><a href="./aboutus.html" target="_blank">ABOUT</a></li>
                    <li><a href="./shop.html" target="_blank">SHOP</a></li>
                    <li><a href="./templates/delivery.html" target="_blank">DELIVERY</a></li>

                </ul>
            </div>
            <div class="footer-list-item">
                <ul>
                    <li><a href="./signup.html" target="_blank">SIGN UP</a></li>
                    <li>Log In</li>
                    <li>Log out</li>
                    <li> <a href="Contact us.html" target="_blank">CONTACT US </a> </li>
                </ul>
            </div>
            <div class="footer-list-item">
                <ul>
                    <li> <a href="https://www.facebook.com" target="_blank">
                            <i class="fa-brands fa-facebook fa-2x"></i>
                        </a> </li>
                    <li> <a href="http://www.instagram.com" target="_blank">
                            <i class="fa-brands fa-instagram fa-2x"></i>
                        </a> </li>

                    <li> <a href="http://www.youtube.com" target="_blank">
                            <i class="fa-brands fa-youtube fa-2x"></i>
                        </a> </li>
                    <li> <a href="http://www.twitter.com" target="_blank">
                            <i class="fa-brands fa-twitter fa-2x"></i>
                        </a> </li>
                </ul>
            </div>

        </div>

    </div>
    </div>
</footer>
</body>

</html>