<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Sign Up</title>
</head>

<body>
    <nav>
        <section class="navigation-bar">

            <div class="container">
                <div class="navbar-flex">
                    <div class="navigation-bar-left">
                        <ul>
                            <li><img src="../images/logo1.png" alt="maize logo" class="navbar-left-logo" /></li>
                            <li><a href="../index.html"> HOME</a></li>
                            <li><a href="./shop.html" target="_blank">SHOP</a></li>
                            <li><a href="./delivery.html" target="_blank">DELIVERY</a></li>
                        </ul>
                    </div>
                    <div class="navigation-bar-right">
                        <ul>
                            <li><a href="./aboutus.html" target="_blank">ABOUT</a></li>



                            <li><a href="Contact us.html" target="_blank">
                            <li>CONTACT US </a> </li>


                            <li><button>LOGIN</button></li>
                            <li><i class="fa-solid fa-bars"></i></li>
                        </ul>

                    <div class="input__box--label">
                        <label>County</label>
                        <select>
                            <option>Nairobi</option>
                            <option>Kisumu</option>
                            <option>Mombasa</option>
                            <option>Nyeri</option>
                            <option>Muranga</option>
                            <option>Kilifi</option></select>
                        </div>

                    <div class="input__box--label">
                        <label>Password:</label><input type="password">
                    </div>
                    <!-- <div class="submit"> -->
                        <button>SUBMIT</button>

                    </div>
                </div>
            </div>
        </section>
    </nav>
    <section class="section__signup--form">
        <div class="container">

            <form>
                <div class="image-area">
                    <h2> JOIN 1M+ HAPPY CUSTOMERS AND FARMERS</h2>
                </div>

                <div class="input__box--label">

                    <label>First Name:</label><input type="text">
                </div>
                <div class="input__box--label">
                    <label>Second Name:</label><input type="text">
                </div>

                <div class="input__box--label">
                    <label>Register as:</label>
                    <select>
                        <option>Customer</option>
                        <option>Farmer</option>
                        <option>Both</option>
                    </select>
                </div>

                <div class="input__box--label">
                    <label>Email:</label><input type="email">
                </div>

                <div class="input__box--label">
                    <label>County</label>
                    <select>
                        <option>Nairobi</option>
                        <option>Kisumu</option>
                        <option>Mombasa</option>
                        <option>Nyeri</option>
                        <option>Muranga</option>
                        <option>Kilifi</option>
                    </select>
                </div>

                <div class="input__box--label">
                    <label>Password:</label><input type="password">
                </div>
                <div class="button">
                    <button>SUBMIT</button>
                </div>

            </form>


        </div>
    </section>

    <footer>
        <div class="container">

            <div class="footer__section--page">
                <div>
                    <img src="../images/logo1.png" alt="logo1" class="navbar-left-logo" />
                </div>
                <div class="footer-list-item">
                    <ul>
                        <li><a href="../index.html"> HOME</a></li>

                        <li><a href="./aboutus.html" target="_blank">ABOUT</a></li>
                        <li><a href="./shop.html" target="_blank">SHOP</a></li>
                        <li><a href="./templates/delivery.html" target="_blank">DELIVERY</a></li>

                    </ul>
                </div>
                <div class="footer-list-item">
                    <ul>
                        <li><a href="./signup.html" target="_blank">SIGN UP</a></li>
                        <li>Log In</li>
                        <li>Log out</li>
                        <li> <a href="Contact us.html" target="_blank">CONTACT US </a> </li>
                    </ul>
                </div>
                <div class="footer-list-item">
                    <ul>
                        <li> <a href="https://www.facebook.com" target="_blank">
                                <i class="fa-brands fa-facebook fa-2x"></i>
                            </a> </li>
                        <li> <a href="http://www.instagram.com" target="_blank">
                                <i class="fa-brands fa-instagram fa-2x"></i>
                            </a> </li>

                        <li> <a href="http://www.youtube.com" target="_blank">
                                <i class="fa-brands fa-youtube fa-2x"></i>
                            </a> </li>
                        <li> <a href="http://www.twitter.com" target="_blank">
                                <i class="fa-brands fa-twitter fa-2x"></i>
                            </a> </li>
                    </ul>
                </div>

            </div>

        </div>
        </div>
    </footer>
</body>

</html>