@use "../overalstyles/variables" as *;
@use "../overalstyles/mixins";
@use "../overalstyles/inheritance";

label {
  display: block;
  width: 20%;
}



.input__box--label {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
  font-weight: bold;
}

.input__box--label input {
  width: 70%;
  padding: 1em 0;
  border-radius: 4px;
  border: none;
}

button {
  @extend %button;
  // width: 20%;
  border: none;
  border-radius: 10px;
  background-color: $yellow;
  font-weight: bolder;

  &:hover {
    background-color: $white;
    color: $green;
  }
}

.form {
  width: 50%;
  .submit {
    text-align: center;
    color: $green;
    padding: 1em 0.5em;
  }
  form {
    background-color: $green;
    color: $yellow;
    width: 90%;
    padding: 2em;
    border-radius: 6px;
  }
}

.image {
  width: 50%;
}

.form__image {
  @include mixins.flex-box(center, center, row, wrap);
}

.sections__selling--form {
  padding: 5em 0;
  height: 75vh;
  background-color: $yellow;
}
